@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*  Lab 4.3 - background & font colors adjusted to solve contrast ratio */ 
body{
  font-family: "Poppins"; 
  font-size: 1.25; 
  margin: 0;
  max-width:auto;
  background-color: #FFFCF0;
  
} 
header {
  text-align: center;
  line-height: 1.1;
  padding: 10;}

//Latest Work card
.recentcard{
 display:flex;
  justify-content: center;
  width: auto;
  background-color:#FFCFC4;
  border-radius:15px;
  flex-wrap: wrap;
  gap: 40px;
  overflow: hidden;
  box-shadow: 0px, 2px, 4px, rgba(0,0, 0.2);
  margin: 20px;}

.recentcard{
  width: auto;
  background-color:#FFCFC4;
  border-radius:15px;
  overflow: hidden;
  gap: 20px;
  box-shadow: 0px, 2px, 4px, rgba(0,0, 0.2);
  margin: 20px;}

.workphoto{
  margin: 0 auto;
  display: block;
  margin-top:30px;
  width: auto;
  height: 300px;
  justify-content: center;
  align-items: center;}

.recentcard_content{
  width: auto;
  border-radius:5px;
  overflow: hidden;
  justify-content: center;
  text-align: center;
  gap: 20px;
  box-shadow: 0px, 2px, 4px, rgba(0,0, 0.2);
  margin: 20px;}

// Photos of the Week Section Card 

.pow{
  display: flex;
  justify-content: center;
  width: auto;
  border-radius:15px;
  flex-wrap:wrap;
  gap:40px;
  padding-top: 71%;
  overflow:hidden;
  box-shadow: 0px, 2px, 4px, rgba(0,0, 0.2);
  margin: 20px;}

.pow{
  width: auto;
  border-radius:15px;
  overflow: hidden;
  padding-top: 71%;
  gap: 20px;
  box-shadow: 0px, 2px, 4px, rgba(0,0, 0.2);
  margin: 20px;}

// about section card
.aboutContainer{
  display: flex; 
  flex-wrap: wrap;
  justify-content: center; 
  align-content: center; 
  gap: 20px;
}
.card{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  max-width: auto;
  border-radius: 8px;
  text-decoration: none;
  gap:20px;
  justify-conent: space-evenly;
  align-items: center;
}
 .card__image{
   width: auto; 
   height: 400px;
   padding: 20px;
   border-radius: 10px; 
   margin-right: 24px;
 }

.card__body{
 margin: 0 auto;
  padding: 20px;
  line-height: 1.5;
}
.button{
  background-color: #A2D870;
  border: none;
  padding: 12px 28px;
  color: #852F66;
  border-radius:5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: #A2D870B7;
  color: #852F66;
}

.button:focus-visible{
  ring-offset:2
  ring:#A2D870;
  ring-op:50;
}
//padding for portfolio page 
.portfolio-container{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top:100px;}

.portfolioItem{
  width: auto;
  background-color:#FFCFC4;
  border-radius:8px;
  overflow: hidden;
  gap: 20px;
  box-shadow: 0px, 2px, 4px, rgba(0,0, 0.2);
  margin: 20px;}

.portfoliophoto{
  margin:0 auto;
  width: auto;
  height: auto;}

.portfoliocontent{
  padding:16px;
}
.portfoliocontent h3{
  margin-bottom: 8px;
}
.portfoliocontent p{
  line-height: 1.3;
}

.portfoliocontent .more-text-bttn{
  padding:8px 16px;
  display: inline-block;
  margin-top: 16px;
}

.porfoliotitle{
  margin-top: 0px;
  margin-bottom: 10px;
}
.video{
  margin: 0 auto;
  display: block;
  justify-content: space-evenly;
  align-items: center;
}

.juxtapose{
  margin: 0 auto;
  width: auto;
  height: 570px;
  justify-content: center;
  align-items: center;
  margin-top:30px;
  display: block;
  border-radius:5px;}

/* Lab 4.1 — mobile-first layout + media query */

@media(min-width:390px){
}
.juxtapose{
  margin: 0 auto;
  width: auto;
  height: 200px;
  justify-content: center;
  align-items: center;
  margin-top:30px;
  display: block;
  border-radius:5px;}
@media (min-width:768px){
  
}
.juxtapose{
  margin: 0 auto;
  width: auto;
  height: 5700px;
  justify-content: center;
  align-items: center;
  margin-top:30px;
  display: block;
  border-radius:5px;}

@media(min-width:1200px){
  
}
/* 
h1 is the page's title
*/ 
h1{
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
}

h1{
  font-size: clamp(2rem, 0.074rem + 7.901vw, 6rem);
} 
/* 
h2 is for section titles of each page 
*/
h2{
  .poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}}
h2{
  text-align: center;
  color: #852F66;
  font-size: clamp(1.75rem, 0.667rem + 4.444vw, 4rem);
}
/*
h3 will be for subsections
*/ 
h3{
  .poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}
}

h3{
  text-align: center;
  color: #852F66;
  font-size: clamp(1.5rem, 0.778rem + 2.963vw, 3rem);
}

/* 
h4 is for subtitle and captions
*/ 
h4{
.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}
}

h4{
  font-size: clamp(1.25rem, 0.889rem + 1.481vw, 2rem);
}

/*
This is for the portofolio read more section 
*/
.more-text-bttn {
  background-color: #A2D870;
  border: none;
  margin: 5px;
  padding: 5px;
  color: #852F66;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.75rem;
  transition-duration: 0.4s;
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.more-text-bttn:hover {
  background-color: #A2D870B7;
  color: #852F66;
}
.button1{
  margin:15px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%); 
  margin-bottom:15px;
}

.moreText {
  display:none;
}
.text.show .moreText {
  display:inline;
}
p{
  text-align: center;
 font-size: clamp(1rem, 0.928rem + 0.296vw, 1.15rem);
}
p{
.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}}

p{b{
.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}}}

p{i{
.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}}}
/*
list fonts
*/
li{
  font-size: clamp(1rem, 0.928rem + 0.296vw, 1.15rem);
  text-align: center; 
}
li{
  .poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}}

li{b{
.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}}}
li{i{
.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}}}


img {
  display: block;
  max-width:100%;
  height: auto;
}

iframe{
  display: block;
  max-width:100%;
}
/* incorporating a division with the footer */ 
footer {
  background-color: #FFCFC4;
  text-align: center;
}
.githubImage{
  height:50px;
  width:50px;
  margin: 0 auto;
}
@viewpoint{
  width: device-width;
  zoom: 1;
}
