@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');

/*  Lab 4.3 - background & font colors adjusted to solve contrast ratio */ 
body{
  font-family: "Montserrat", "Neuton"; 
  font-size:1.25; 
  line-height: 1.5;
  margin-width:0;
  background-color: #F3E8DA;
} 
header {
  text-align: center;
  line-height:1.1;
  padding: 10;
}

a:focus, button:focus {
  outline: 10px solid currentColor;
  outline-offset: 10px;
}
@viewpoint{
  width: device-width;
  zoom: 1; 
}
/* Lab 4.1 — mobile-first layout + media query */

@media(min-width:390px){
  body{
    background-color:#FFAD4F
  }
}

@media (min-width:768px){
  body{
    background-color:#EFD468
    
  }
}

@media(min-width:1200px){
  body{
    background-color:#F3E8DA
  }
}
h1,h2{
  .Montserrat-bold{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  line-height:1.1;
}}

h1{
  font-size:3rem;
}
/* 
heading 1's color will be to present the page's title name
*/ 

h2{
  font-size:2.5rem;
  color: #22443B;
}
/*
heading 2 will present each section of the website page 
*/

h3{
  .Montserrat-medium-500{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}}

h3{
  font-size:2rem;
  color: #21392D;
}
/*
  header 3 will be for lists and navigation -- TBD on changing color for navigation for when that section is covered
*/


h4{
  font-size:1.5rem;
  color:#28536B;
  bacground-color:#B4CCCF;
}

h5{
  font-size:1.25rem;
  color: #FFC49B;
  background-color: #F3A5BC;
}
 h6{
   color: #8FB78F; 
   background-color: #CBE6C7;
 }

h6,p{
  font-size:1rem;
}
/*
This is for the portofolio read more section 
*/
.moreText {
  display:none;
}
.text.show .moreText {
  display:inline;
}
//LearnAboutMeButton
.about-me-buttn{
  justify-content:center; 
  padding:10px 20px; 
}
//About Section text

.AboutSection{
  text-align: right;
}

section{
  margin-block: 50px;
}
p{
  margin-block: 25px;
}

p{
.neuton-regular {
  font-family: "Neuton", serif;
  font-weight: 400;
  font-style: normal;
}}

p{b{
.neuton-bold {
  font-family: "Neuton", serif;
  font-weight: 700;
  font-style: normal;
}}}

p{i{
.neuton-regular-italic {
  font-family: "Neuton", serif;
  font-weight: 400;
  font-style: italic;
}}}

li{b{
.neuton-bold {
  font-family: "Neuton", serif;
  font-weight: 700;
  font-style: normal;
}}}
li{i{
.neuton-regular-italic {
  font-family: "Neuton", serif;
  font-weight: 400;
  font-style: italic;
}}}


img { max-width: 100%; height: auto; }

/* incorporating a division with the footer */ 
footer {
  background-color: #F8BEAD;
  text-align: center;
  padding: 8;
}
.githubImage{
  height:20px;
  width:20px;
}



