@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');

body{
  font-family: "Montserrat", "Neuton"; 
  font-size:1.25; 
  line-height: 1.5;
  margin-width:0;
  background-color: #FBFAF5;
} 

header{
  text-align: center;
  line-height:1.1;
  
}

h1,h2{
  .Montserrat-bold{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  line-height:1.1;
}}

h1{
  font-size:3rem;
  color: #B4CCCF;
  background-color: #28536B;
}

h2{
  font-size:2.5rem;
  background-color: #FFC49B;
  color: #F3A5BC;
}

h3{
  .Montserrat-medium-500{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}}

h3{
  font-size:2rem;
  color: #CBE6C7;
  background-color: #8FB78F; 
}

h4{
  font-size:1.5rem;
  color:#28536B;
  bacground-color:#B4CCCF;
}

h5{
  font-size:1.25rem;
  color: #FFC49B;
  background-color: #F3A5BC;
}
 h6{
   color: #8FB78F; 
   background-color: #CBE6C7;
 }

h6,p{
  font-size:1rem;
}

section{
  margin-block: 50px;
}
p{
  margin-block: 25px;
}

p{
.neuton-regular {
  font-family: "Neuton", serif;
  font-weight: 400;
  font-style: normal;
}}

p{b{
.neuton-bold {
  font-family: "Neuton", serif;
  font-weight: 700;
  font-style: normal;
}}}

p{i{
.neuton-regular-italic {
  font-family: "Neuton", serif;
  font-weight: 400;
  font-style: italic;
}}}

li{b{
.neuton-bold {
  font-family: "Neuton", serif;
  font-weight: 700;
  font-style: normal;
}}}
li{i{
.neuton-regular-italic {
  font-family: "Neuton", serif;
  font-weight: 400;
  font-style: italic;
}}}



